In [1]:
import pandas as pd

In [4]:
data = {
    'name': ['Алекс', 'Мария', 'Иван'],
    'age': [25, 30, 28],
    'city': ['Москва', 'СПб', 'Казань']
}
df = pd.DataFrame(data)
print(df)

    name  age    city
0  Алекс   25  Москва
1  Мария   30     СПб
2   Иван   28  Казань

In [5]:
df.age.mean()

np.float64(27.666666666666668)